body {
  font-family: Inter, sans-serif;
  margin: 0;
  background: hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
  overflow-x: hidden;
  font-size: 20px;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content auto min-content min-content;
  gap: 2rem;
  max-width: 1220px;
  align-content: center;
  margin: 2rem auto;
  padding: 0 2rem;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.navigation {
  transition: right 0.3s ease;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: hsl(233, 8%, 79%);
  font-weight: 400;
  font-size: 1rem;
}

.navigation a:hover{
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(240, 100%, 5%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.main-article {
  display: grid;
  grid-column: 2/3;
}
.main-page-img {
  grid-column: 1 / span 2; 
}

.main-page-img img {
  width: 100%;
  height: auto;
  display: block;
}

.main-article-title {
  grid-column: 1/2;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-article-title h1{
  margin: 0px;
}

.buttonReadMe {
  background: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  border: none;
  padding: 0.7rem 2rem;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.1em;
}

.buttonReadMe:hover{
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.sidebar {
  align-content: space-around;
  grid-area: 2/3/4/4;
  background: #00001a;
  color: hsl(36, 100%, 99%);
  padding: 1.5rem;
}

.sidebar h2 {
  font-size: 2rem;
  color: hsl(35, 77%, 62%);
  margin-bottom: 1rem;
}

.sidebar h3 {
  margin: 0.5rem 0;
  color: hsl(36, 100%, 99%);
  text-decoration: none;
}

.sidebar h3:hover,
.sidebar h3 a:hover,
.sidebar h3 a:focus-visible {
  color: hsl(35, 77%, 62%);
}

.sidebar p{
  font-size: 1rem;
  color: hsl(233, 8%, 79%)
}

.sidebar div {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  margin-bottom: 1rem;
}

.sidebar div:last-child {
  border-bottom: none;
}

.bottom-articles {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.bottom-articles div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.bottom-articles-img img {
  width: 100px;
  display: block;
}

.bottom-articles-filling {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-articles-filling h3 {
  color: hsl(5, 85%, 63%);
  font-size: 1.5rem;
  margin: 0;
}

.bottom-articles-filling strong:hover{
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.bottom-articles-filling strong {
  color: hsl(240, 100%, 5%);
  font-size: 1rem;
}

.bottom-articles-filling p {
  color: hsl(236, 13%, 42%);
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0.3rem 0 0;
}


@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header{
    grid-column: span 2;
  }

  .main-article {
    grid-column: 1/2;
    grid-row: 4/5;
    grid-template-columns: 1fr;
  }

  .main-article p{
    margin-top: 0px;
  }

  .buttonReadMe{
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  .main-article-title{
    grid-template-columns: 1fr;
  }

  .sidebar {
    margin-top: 20px;
    grid-column: span 2;
    grid-row: 5/6;
  }

  .bottom-articles {
    grid-template-columns: 1fr;
  }

  .menu-toggle {
    display: block;
    right: 1.5rem;
    top: 1.5rem
  }

  .navigation {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .navigation.active {
    right: 0;
  }

  .navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 10rem;
  }

  .navigation a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  font-weight: 400;
  font-size: 2rem;
  }

  .overlay.active{
    opacity: 0.75;
  }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }